header {
  text-align: center;
  margin: 15px;
}

nav {
  box-sizing: border-box;
  background: cornflowerblue;
  list-style-type: none;
  justify-content: space-evenly;
  text-align: center;
  border-style: solid;
  border-color: midnightblue;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  
}

nav a{
  background: cornflowerblue;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}
section {
  margin:15px;
  padding-top: 5px;
  padding-left: 5px;
}
*{
  box-sizing: border-box;
  color: black;
  background: lightcyan;
  font-size: 20px;
}

article {
  font-style: italic;
}
.gifdelay {
  width: 30%;
  margin-right: 35px;
  float: left;
}
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 35px;
  float: right;
  padding: 15px;
 
}

h2 {

  margin-left: 100px;
}
table {
  padding: 5px;
}
th{
  border-style: dotted;
  padding: 15px;
  background-color: darkgrey;
}
td {
  border-style: dotted;
  padding: 15px;
  background-color: lightgrey;

}

footer {
   position:fixed;
   text-align: right;
   right:15px;
   bottom:5px;
   width:100%;
   font-size: 16px;
   font-family: "lucida Console";
}
