body {
	background-color: beige;
}
h2 {
	text-align: center;
	position: relative;
	font-family: "avenir Next", sans-serif;
	font-weight: 900;
	font-size: 32px;
	font-style: italic;
	letter-spacing: 0.25em;
	color: navy;
}

.gif {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}

h4 {
	border-style: solid;
	border-color: rgb(172,115,210);
	text-align: center;
	background-color: rgb(115,172,210);
}

table{
	margin-left: auto;
  margin-right: auto;
  width: 50%;
}
td {
	border-style: solid;
	background-color: white;
	border-color: ghostwhite ;
	text-align: center;
	width: 50%;

}
.img {
	object-fit: contain;
}



footer {
   position:fixed;
   text-align: right;
   right:15px;
   bottom:5px;
   width:100%;
   font-size: 16px;
   font-family: "lucida Console";
}